In [1]:
import pandas as pd 
from scatter import scatter
import numpy as np
from plots import trend, xsml, trend_years
from collections import defaultdict
data = pd.read_pickle("data.pickle")

In [2]:
years = data.columns[::-1]
indices = list(set(data.index.get_level_values(0)))

In [11]:
default = (np.nan, np.nan, np.nan, np.nan)
saida = {}
for i in indices:
    year = []
    r2 = []
    coef = []
    amount = []
    curve = []
    for a in years:
        try:
            sca = scatter(data, ['GDP per capita (current US$)',  i], ['2017', a], False)
        except:
            sca = default
        year.append(a)
        r2.append(sca[0])
        coef.append(sca[1])
        amount.append(sca[2])
        curve.append(sca[3])
    a = pd.Series(year, name='year')
    c = pd.Series(r2, name='r2')
    d = pd.Series(coef, name='coef')
    e = pd.Series(amount, name='amount')
    f = pd.Series(curve, name='curve')
    saida[i] = pd.concat([a,c,d,e,f], 1)

In [10]:
saida['Domestic credit provided by financial sector (% of GDP)']

    year        r2      coef  amount              curve
0   2017  0.512057  0.763826     132              x - y
1   2016  0.501441  0.272352     161  log(x) - y**(1/3)
2   2015  0.468741  0.530668     165              x - y
3   2014  0.465320  0.539967     166              x - y
4   2013  0.443906  0.525489     167              x - y
5   2012  0.476695  0.564297     167              x - y
6   2011  0.495678  0.526758     168              x - y
7   2010  0.515854  0.643980     171              x - y
8   2009  0.501827  0.620117     170              x - y
9   2008  0.488495  0.656015     173              x - y
10  2007  0.504668  0.631250     172              x - y
11  2006  0.447694  0.581814     173              x - y
12  2005  0.424663  0.554485     172              x - y
13  2004  0.420026  0.503235     168              x - y
14  2003  0.416775  0.281790     164  log(x) - y**(1/3)
15  2002  0.418432  0.342655     164         log(x) - y
16  2001  0.412956  0.258007     162  log(x) - y**(1/3)
17  2000  0.322214  0.214017     143  log(x) - y**(1/3)
18  1999  0.341771  0.262086     140         log(x) - y
19  1998  0.341573  0.259022     140         log(x) - y
20  1997  0.345111  0.217319     138  log(x) - y**(1/3)
21  1996  0.345386  0.159084     136  log(x) - y**(1/3)
22  1995  0.298659  0.254900     137         log(x) - y
23  1994  0.348480  0.213153     131  log(x) - y**(1/3)
24  1993  0.380657  0.231809     130  log(x) - y**(1/3)
25  1992  0.286147  0.192312     126  log(x) - y**(1/3)
26  1991  0.298396  0.199894     122  log(x) - y**(1/3)
27  1990  0.222840  0.171422     118  log(x) - y**(1/3)
28  1989  0.221199  0.189215     117  log(x) - y**(1/3)
29  1988  0.214246  0.154236     115  log(x) - y**(1/3)
30  1987  0.218809  0.151053     112  log(x) - y**(1/3)
31  1986  0.198072  0.141795     111  log(x) - y**(1/3)
32  1985  0.167167  0.128798     112  log(x) - y**(1/3)
33  1984  0.159660  0.128370     110  log(x) - y**(1/3)
34  1983  0.162406  0.121665     110  log(x) - y**(1/3)
35  1982  0.145034  0.116588     110  log(x) - y**(1/3)
36  1981  0.140155  0.113298     108  log(x) - y**(1/3)
37  1980  0.133494  0.117262     106  log(x) - y**(1/3)
38  1979  0.155639  0.127525     101  log(x) - y**(1/3)
39  1978  0.204203  0.131187      97  log(x) - y**(1/3)
40  1977  0.255304  0.145592      97  log(x) - y**(1/3)
41  1976  0.177843  0.125320      93  log(x) - y**(1/3)
42  1975  0.158713  0.144344      90         log(x) - y
43  1974  0.207717  0.188024      88         log(x) - y
44  1973  0.283526  0.169019      85  log(x) - y**(1/3)
45  1972  0.267052  0.168268      84  log(x) - y**(1/3)
46  1971  0.350476  0.217414      82  log(x) - y**(1/3)
47  1970  0.331880  0.244011      80  log(x) - y**(1/3)
48  1969  0.411169  0.489886      80              x - y
49  1968  0.419008  0.479724      78              x - y

In [18]:
acess = saida['Access to electricity (% of population)'].join(pd.Series(['Access to electricity (% of population)']*50, name = 'Index'))

In [20]:
acess.set_index('Index')

,year,r2,coef,amount,curve
Index,,,,,
Access to electricity (% of population),2017,NaN,NaN,NaN,NaN
Access to electricity (% of population),2016,0.556616,0.867778,186.0,log(x) - y
Access to electricity (% of population),2015,0.577822,0.912438,185.0,log(x) - y
Access to electricity (% of population),2014,0.579984,0.931410,186.0,log(x) - y
Access to electricity (% of population),2013,0.609850,0.987284,185.0,log(x) - y
Access to electricity (% of population),2012,0.618594,1.000945,185.0,log(x) - y
Access to electricity (% of population),2011,0.635355,1.006250,185.0,log(x) - y
Access to electricity (% of population),2010,0.640602,1.001138,185.0,log(x) - y
Access to electricity (% of population),2009,0.642953,1.022648,185.0,log(x) - y
Access to electricity (% of population),2008,0.653278,1.036925,185.0,log(x) - y
Access to electricity (% of population),2007,0.655715,1.069819,186.0,log(x) - y
Access to electricity (% of population),2006,0.657875,1.055135,184.0,log(x) - y
Access to electricity (% of population),2005,0.667729,1.077218,184.0,log(x) - y
Access to electricity (% of population),2004,0.671860,1.095481,185.0,log(x) - y
Access to electricity (% of population),2003,0.670891,1.110876,184.0,log(x) - y
Access to electricity (% of population),2002,0.673564,1.130885,184.0,log(x) - y
Access to electricity (% of population),2001,0.683364,1.148080,183.0,log(x) - y
Access to electricity (% of population),2000,0.677702,1.152785,182.0,log(x) - y
Access to electricity (% of population),1999,0.685556,1.173213,181.0,log(x) - y
Access to electricity (% of population),1998,0.685969,1.188909,181.0,log(x) - y
Access to electricity (% of population),1997,0.687399,1.209006,181.0,log(x) - y
Access to electricity (% of population),1996,0.686347,1.219269,181.0,log(x) - y
Access to electricity (% of population),1995,0.688225,1.242992,180.0,log(x) - y
Access to electricity (% of population),1994,0.688893,1.256184,180.0,log(x) - y
Access to electricity (% of population),1993,0.688762,1.278130,179.0,log(x) - y
Access to electricity (% of population),1992,0.689764,1.289349,179.0,log(x) - y
Access to electricity (% of population),1991,0.691258,1.302301,179.0,log(x) - y
Access to electricity (% of population),1990,0.691949,1.311926,179.0,log(x) - y
Access to electricity (% of population),1989,NaN,NaN,NaN,NaN
Access to electricity (% of population),1988,NaN,NaN,NaN,NaN
Access to electricity (% of population),1987,NaN,NaN,NaN,NaN
Access to electricity (% of population),1986,NaN,NaN,NaN,NaN
Access to electricity (% of population),1985,NaN,NaN,NaN,NaN
Access to electricity (% of population),1984,NaN,NaN,NaN,NaN
Access to electricity (% of population),1983,NaN,NaN,NaN,NaN
Access to electricity (% of population),1982,NaN,NaN,NaN,NaN
Access to electricity (% of population),1981,NaN,NaN,NaN,NaN
Access to electricity (% of population),1980,NaN,NaN,NaN,NaN
Access to electricity (% of population),1979,NaN,NaN,NaN,NaN
Access to electricity (% of population),1978,NaN,NaN,NaN,NaN
Access to electricity (% of population),1977,NaN,NaN,NaN,NaN
Access to electricity (% of population),1976,NaN,NaN,NaN,NaN
Access to electricity (% of population),1975,NaN,NaN,NaN,NaN
Access to electricity (% of population),1974,NaN,NaN,NaN,NaN
Access to electricity (% of population),1973,NaN,NaN,NaN,NaN
Access to electricity (% of population),1972,NaN,NaN,NaN,NaN
Access to electricity (% of population),1971,NaN,NaN,NaN,NaN
Access to electricity (% of population),1970,NaN,NaN,NaN,NaN
Access to electricity (% of population),1969,NaN,NaN,NaN,NaN
Access to electricity (% of population),1968,NaN,NaN,NaN,NaN