In [1]:
import pandas as pd 
from scatter import scatter
import numpy as np
from plots import trend, xsml, trend_years
from collections import defaultdict
data = pd.read_pickle("data.pickle")

In [2]:
years = data.columns[::-1]
indices = list(set(data.index.get_level_values(0)))

In [11]:
default = (np.nan, np.nan, np.nan, np.nan)
saida = {}
for i in indices:
    year = []
    r2 = []
    coef = []
    amount = []
    curve = []
    for a in years:
        try:
            sca = scatter(data, ['GDP per capita (current US$)',  i], ['2017', a], False)
        except:
            sca = default
        year.append(a)
        r2.append(sca[0])
        coef.append(sca[1])
        amount.append(sca[2])
        curve.append(sca[3])
    a = pd.Series(year, name='year')
    c = pd.Series(r2, name='r2')
    d = pd.Series(coef, name='coef')
    e = pd.Series(amount, name='amount')
    f = pd.Series(curve, name='curve')
    saida[i] = pd.concat([a,c,d,e,f], 1)

In [52]:
saida['Interest forgiven (current US$)']

    year        r2      coef  amount              curve
0   2017  0.089847 -0.073140   115.0  log(x) - y**(1/3)
1   2016  0.110538 -0.106764   118.0  log(x) - y**(1/3)
2   2015  0.104583 -0.097652   117.0  log(x) - y**(1/3)
3   2014  0.041137 -0.065682   117.0  log(x) - y**(1/3)
4   2013  0.037891 -0.051019   117.0  log(x) - y**(1/3)
5   2012  0.108401 -0.107811   117.0  log(x) - y**(1/3)
6   2011  0.136083 -0.190206   117.0  log(x) - y**(1/3)
7   2010  0.152207 -0.098145   117.0  log(x) - y**(1/3)
8   2009  0.070570 -0.052869   117.0  log(x) - y**(1/3)
9   2008  0.093406 -0.115233   117.0  log(x) - y**(1/3)
10  2007  0.090075 -0.096290   117.0  log(x) - y**(1/3)
11  2006  0.121796 -0.133742   117.0  log(x) - y**(1/3)
12  2005  0.114312 -0.059543   119.0  log(x) - y**(1/3)
13  2004  0.181787 -0.192328   117.0  log(x) - y**(1/3)
14  2003  0.189117 -0.275732   117.0  log(x) - y**(1/3)
15  2002  0.110210 -0.132854   118.0  log(x) - y**(1/3)
16  2001  0.221282 -0.275233   117.0  log(x) - y**(1/3)
17  2000  0.063626 -0.048880   118.0  log(x) - y**(1/3)
18  1999  0.038163 -0.060323   117.0       x - y**(1/3)
19  1998  0.053331 -0.046209   117.0  log(x) - y**(1/3)
20  1997  0.100974 -0.144942   117.0  log(x) - y**(1/3)
21  1996  0.086885 -0.077167   117.0  log(x) - y**(1/3)
22  1995  0.160463 -0.098680   117.0  log(x) - y**(1/3)
23  1994  0.132146 -0.172180   117.0  log(x) - y**(1/3)
24  1993  0.105263 -0.133944   117.0  log(x) - y**(1/3)
25  1992  0.087637 -0.124317   117.0  log(x) - y**(1/3)
26  1991  0.107254 -0.159985   117.0  log(x) - y**(1/3)
27  1990  0.123881 -0.058973   117.0  log(x) - y**(1/3)
28  1989  0.161623 -0.196336   117.0  log(x) - y**(1/3)
29  1988  1.000000  0.000000   120.0              x - y
30  1987  1.000000  0.000000   120.0              x - y
31  1986  1.000000  0.000000   120.0              x - y
32  1985  1.000000  0.000000   120.0              x - y
33  1984  1.000000  0.000000   120.0              x - y
34  1983  1.000000  0.000000   120.0              x - y
35  1982  1.000000  0.000000   120.0              x - y
36  1981  1.000000  0.000000   120.0              x - y
37  1980  1.000000  0.000000   120.0              x - y
38  1979  1.000000  0.000000   120.0              x - y
39  1978  1.000000  0.000000   120.0              x - y
40  1977  1.000000  0.000000   120.0              x - y
41  1976  1.000000  0.000000   120.0              x - y
42  1975  1.000000  0.000000   120.0              x - y
43  1974  1.000000  0.000000   120.0              x - y
44  1973  1.000000  0.000000   120.0              x - y
45  1972  1.000000  0.000000   120.0              x - y
46  1971  1.000000  0.000000   120.0              x - y
47  1970  1.000000  0.000000   120.0              x - y
48  1969       NaN       NaN     NaN                NaN
49  1968       NaN       NaN     NaN                NaN

In [35]:
total = pd.DataFrame([])
for i in saida.keys():
    acess = saida[i].join(pd.Series([i]*50, name = 'Index'))

    acess.columns = ['Year', 'R2', 'Coefficient', 'Number of countries', 'Type of axis', 'Index']

    acess = acess.set_index(['Index', 'Year']).sort_index()
    
    total = pd.concat([total, acess])

In [44]:
final = total.dropna(0).sort_index()

In [67]:
final.to_pickle('corrGDP2017.pickle')

In [61]:
final['R2'][final['Coefficient'] == 0] = 0

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [62]:
final['R2'][final['Coefficient'] == 0]

Index                                               Year
Consumer price index (2010 = 100)                   2010    0.0
Debt buyback (current US$)                          1970    0.0
                                                    1971    0.0
                                                    1972    0.0
                                                    1973    0.0
                                                    1974    0.0
                                                    1975    0.0
                                                    1976    0.0
                                                    1977    0.0
                                                    1978    0.0
                                                    1979    0.0
                                                    1980    0.0
                                                    1981    0.0
                                                    1982    0.0
                                                    1983    0.0
                                                    1984    0.0
                                                    1985    0.0
                                                    1986    0.0
                                                    1987    0.0
                                                    1988    0.0
                                                    1993    0.0
                                                    2003    0.0
                                                    2004    0.0
                                                    2005    0.0
                                                    2006    0.0
                                                    2010    0.0
                                                    2011    0.0
                                                    2012    0.0
                                                    2013    0.0
                                                    2014    0.0
                                                           ...
Total amount of debt rescheduled (current US$)      1979    0.0
                                                    1980    0.0
                                                    1981    0.0
                                                    1982    0.0
                                                    1983    0.0
                                                    1984    0.0
                                                    1985    0.0
                                                    1986    0.0
                                                    1987    0.0
                                                    1988    0.0
                                                    2016    0.0
Total change in external debt stocks (current US$)  1970    0.0
                                                    1971    0.0
                                                    1972    0.0
                                                    1973    0.0
                                                    1974    0.0
                                                    1975    0.0
                                                    1976    0.0
                                                    1977    0.0
                                                    1978    0.0
                                                    1979    0.0
                                                    1980    0.0
                                                    1981    0.0
                                                    1982    0.0
                                                    1983    0.0
                                                    1984    0.0
                                                    1985    0.0
                                                    1986    0.0
                                                    1987    0.0
                                                    1988    0.0
Name: R2, Length: 492, dtype: float64