#### Módulos externos que serão usados:

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model, preprocessing, metrics
import matplotlib.pyplot as plt

#### Lista de DataFrames dos indices após o download:

In [2]:
from data import data

#### Modulos internos que  serão usadas:

In [3]:
from analyze import analyze
from plots import scatter, trend, lmh, trend_years, comparison_filter

#### Apresentação do analyze para obter o DataFrame por ano, indice ou pais, respectivamente:

In [4]:
analyze(data, 2017)

,Pregnant women receiving prenatal care (%),Alternative and nuclear energy (% of total energy use),Rural poverty headcount ratio at national poverty lines (% of rural population),"Repeaters, primary, female (% of female enrollment)",Population ages 15-64 (% of total),Economic freedom
Country Name,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,54.174914,51.300000
Albania,NaN,NaN,NaN,NaN,69.415774,64.500000
Algeria,NaN,NaN,NaN,NaN,64.504386,44.700000
American Samoa,NaN,NaN,NaN,NaN,NaN,61.500000
Andorra,NaN,NaN,NaN,NaN,NaN,NaN
Angola,NaN,NaN,NaN,NaN,50.787584,48.600000
Antigua and Barbuda,NaN,NaN,NaN,NaN,69.173235,53.600000
Argentina,NaN,NaN,NaN,NaN,63.916238,52.300000
Armenia,NaN,NaN,NaN,NaN,68.760873,68.700000
Aruba,NaN,NaN,NaN,NaN,69.003648,NaN
Australia,NaN,NaN,NaN,NaN,65.483880,80.900000
Austria,NaN,NaN,NaN,NaN,66.706855,71.800000
Azerbaijan,NaN,NaN,NaN,NaN,70.704768,64.300000
"Bahamas, The",NaN,NaN,NaN,NaN,70.550206,63.300000
Bahrain,NaN,NaN,NaN,NaN,77.906168,67.700000
Bangladesh,NaN,NaN,NaN,NaN,66.531802,55.100000
Barbados,NaN,NaN,NaN,NaN,65.987211,57.000000
Belarus,NaN,NaN,NaN,NaN,68.459079,58.100000
Belgium,NaN,NaN,NaN,NaN,64.334157,67.500000
Belize,NaN,NaN,NaN,NaN,64.726527,57.100000
Benin,NaN,NaN,NaN,NaN,54.087452,56.700000
Bermuda,NaN,NaN,NaN,NaN,NaN,NaN
Bhutan,NaN,NaN,NaN,NaN,68.565397,61.800000
Bolivia,NaN,NaN,NaN,NaN,61.656529,44.100000
Bosnia and Herzegovina,NaN,NaN,NaN,NaN,69.301546,61.400000
Botswana,NaN,NaN,NaN,NaN,64.652756,69.900000
Brazil,NaN,NaN,NaN,NaN,69.700479,51.400000
British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN
Brunei Darussalam,NaN,NaN,NaN,NaN,72.384925,64.200000
Bulgaria,NaN,NaN,NaN,NaN,64.962494,68.300000
...,...,...,...,...,...,...
Switzerland,NaN,NaN,NaN,NaN,66.689366,81.700000
Syrian Arab Republic,NaN,NaN,NaN,NaN,59.079918,NaN
Tajikistan,NaN,NaN,NaN,0.07441,61.282287,58.300000
Tanzania,NaN,NaN,NaN,NaN,51.982127,59.900000
Thailand,NaN,NaN,NaN,NaN,71.308084,67.100000
Timor-Leste,NaN,NaN,NaN,NaN,52.838709,48.100000
Togo,NaN,NaN,NaN,NaN,55.579919,47.800000
Tonga,NaN,NaN,NaN,NaN,58.348454,63.100000
Trinidad and Tobago,NaN,NaN,NaN,NaN,69.324788,57.700000
Tunisia,NaN,NaN,NaN,NaN,67.989236,58.900000
Turkey,NaN,NaN,NaN,NaN,66.890231,65.400000
Turkmenistan,NaN,NaN,NaN,NaN,64.811087,47.100000
Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN
Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN
Uganda,NaN,NaN,NaN,NaN,50.120458,62.000000
Ukraine,NaN,NaN,NaN,NaN,68.045248,51.900000
United Arab Emirates,NaN,NaN,NaN,NaN,84.960562,77.600000
United Kingdom,NaN,NaN,NaN,NaN,63.771576,78.000000
United States,NaN,NaN,NaN,NaN,65.673562,75.700000
Uruguay,NaN,NaN,NaN,NaN,64.285760,69.200000
Uzbekistan,NaN,NaN,NaN,0.00000,67.546597,51.500000
Vanuatu,NaN,NaN,NaN,NaN,59.707722,69.500000
"Venezuela, RB",97.5,NaN,NaN,NaN,65.790913,25.200000
Vietnam,NaN,NaN,NaN,NaN,69.789418,53.100000
Virgin Islands (U.S.),NaN,NaN,NaN,NaN,61.266337,NaN
West Bank and Gaza,NaN,NaN,NaN,NaN,57.383446,NaN
World,NaN,NaN,NaN,NaN,65.363213,61.074444
"Yemen, Rep.",NaN,NaN,NaN,NaN,57.159773,NaN
Zambia,NaN,NaN,NaN,NaN,52.738929,54.300000
Zimbabwe,NaN,NaN,NaN,NaN,55.973211,44.000000

In [5]:
analyze(data, "Economic freedom")

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country Name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.885716,NaN,51.300000
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,66.892240,65.650034,64.353003,65.920000,64.500000
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50.843830,48.881858,46.528581,50.060000,44.700000
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,61.105173,61.870661,58.355241,63.540000,61.500000
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,47.703602,47.885804,48.515521,48.940000,48.600000
Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,48.820404,53.302066,55.383158,56.710000,53.600000
Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,44.553346,44.138922,50.409088,43.770000,52.300000
Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,68.861097,67.125092,70.306017,66.960000,68.700000
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,82.025623,81.387287,81.015797,80.340000,80.900000
Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,72.411618,71.185607,72.265759,71.670000,71.800000
Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,61.303452,61.029808,63.599004,60.200000,64.300000
"Bahamas, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,69.751751,68.711722,61.081741,70.920000,63.300000
Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,75.108997,73.440748,68.472391,74.250000,67.700000
Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,54.057989,53.926153,54.981640,53.320000,55.100000
Barbados,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,68.306797,67.866401,54.501504,68.290000,57.000000
Belarus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50.131466,49.774208,58.588849,48.770000,58.100000
Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,69.857390,68.783636,67.846954,68.410000,67.500000
Belize,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,56.713153,56.798000,58.629195,57.350000,57.100000
Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,57.083581,58.783872,59.237728,59.310000,56.700000
Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,56.707269,57.407578,58.445013,59.530000,61.800000
Bolivia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,48.360804,46.821911,47.696458,47.400000,44.100000
Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,58.412077,59.035615,60.221983,58.630000,61.400000
Botswana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,72.036822,69.824519,70.109960,71.070000,69.900000
Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,56.861109,56.607279,52.853198,56.540000,51.400000
British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brunei Darussalam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,69.037231,68.923570,69.771510,67.280000,64.200000
Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,65.689835,66.774032,67.855456,65.860000,68.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,81.573216,80.508575,81.452148,81.030000,81.700000
Syrian Arab Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tajikistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,51.951740,52.699161,58.167324,51.330000,58.300000
Tanzania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,57.759115,57.532933,58.584720,58.460000,59.900000
Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,63.345015,62.426499,66.220285,63.860000,67.100000
Timor-Leste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,43.229348,45.482591,46.266101,45.760000,48.100000
Togo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,49.913953,53.034957,53.238028,53.640000,47.800000
Tonga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,58.170746,59.298062,63.010861,59.630000,63.100000
Trinidad and Tobago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,62.741808,64.104613,61.228271,62.910000,57.700000
Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,57.315853,57.747928,55.713272,57.550000,58.900000
Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,64.861910,63.186294,65.230960,62.070000,65.400000
Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,42.178541,41.373989,47.365115,41.890000,47.100000
Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Uganda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,59.911971,59.705115,60.912963,59.260000,62.000000
Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,49.303235,46.853171,48.091766,46.760000,51.900000
United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,71.362672,72.388519,76.894497,72.550000,77.600000
United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,74.904093,75.839939,76.431714,76.410000,78.000000
United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,75.450135,76.182075,75.136726,75.440000,75.700000
Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,69.322992,68.560574,69.670343,68.750000,69.200000
Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,46.478542,47.009172,52.264522,46.020000,51.500000
Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,59.469780,61.080559,67.392048,60.840000,69.500000
"Venezuela, RB",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.319684,34.335980,26.961476,33.740000,25.200000
Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,50.790321,51.694642,52.437551,53.990000,53.100000
Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,60.278873,60.446665,60.903065,60.678708,61.074444
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,55.468068,53.651395,NaN,NaN,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,60.351109,58.713885,55.799426,58.790000,54.300000
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35.540859,37.640856,44.049860,38.230000,44.000000

In [6]:
analyze(data, "c-World")

,Pregnant women receiving prenatal care (%),Alternative and nuclear energy (% of total energy use),Rural poverty headcount ratio at national poverty lines (% of rural population),"Repeaters, primary, female (% of female enrollment)",Population ages 15-64 (% of total),Economic freedom
1963,NaN,2.7732,NaN,NaN,57.2191,NaN
1964,NaN,2.77878,NaN,NaN,57.088,NaN
1965,NaN,2.98182,NaN,NaN,57.0686,NaN
1966,NaN,3.07481,NaN,NaN,56.9086,NaN
1967,NaN,3.05432,NaN,NaN,56.8922,NaN
1968,NaN,3.05186,NaN,NaN,56.9655,NaN
1969,NaN,3.06642,NaN,NaN,57.0676,NaN
1970,NaN,2.98615,NaN,7.73597,57.1585,NaN
1971,NaN,2.70601,NaN,7.7058,57.1703,NaN
1972,NaN,2.92409,NaN,7.53787,57.2079,NaN
1973,NaN,3.07514,NaN,7.37545,57.2719,NaN
1974,NaN,3.58621,NaN,7.13409,57.3906,NaN
1975,NaN,4.14738,NaN,6.8691,57.5726,NaN
1976,NaN,4.16202,NaN,6.63315,57.7096,NaN
1977,NaN,4.51325,NaN,6.5825,57.9152,NaN
1978,NaN,4.87837,NaN,6.525,58.1776,NaN
1979,NaN,4.96843,NaN,6.52989,58.4784,NaN
1980,NaN,5.28438,NaN,6.44628,58.8002,NaN
1981,NaN,5.95285,NaN,6.38482,59.0959,NaN
1982,NaN,6.32233,NaN,6.29499,59.3924,NaN
1983,NaN,6.88539,NaN,6.18949,59.6865,NaN
1984,NaN,7.50747,NaN,6.11364,59.9748,NaN
1985,NaN,8.26971,NaN,5.9716,60.2497,NaN
1986,NaN,8.66903,NaN,5.93466,60.3723,NaN
1987,NaN,8.82867,NaN,5.67045,60.5071,NaN
1988,NaN,9.0848,NaN,5.72021,60.6457,NaN
1989,NaN,9.15349,NaN,5.71231,60.7877,NaN
1990,NaN,8.75738,NaN,5.69573,60.9359,NaN
1991,NaN,9.05716,NaN,5.67481,60.9776,NaN
1992,NaN,9.13426,NaN,5.5766,61.087,NaN
1993,NaN,9.37613,NaN,5.47939,61.2459,NaN
1994,NaN,9.51321,NaN,5.49048,61.4293,NaN
1995,NaN,9.65583,NaN,5.56703,61.6314,NaN
1996,NaN,9.72349,NaN,5.4084,61.8858,NaN
1997,NaN,9.55787,NaN,5.11855,62.1204,NaN
1998,NaN,9.70607,NaN,5.1069,62.3638,NaN
1999,NaN,9.79914,NaN,4.99042,62.6533,NaN
2000,69.0301,9.84932,NaN,4.93765,62.9969,NaN
2001,NaN,9.86676,NaN,4.93325,63.2805,NaN
2002,NaN,9.72617,NaN,4.82952,63.6137,NaN
2003,NaN,9.36407,NaN,4.73693,63.9755,NaN
2004,NaN,9.38663,NaN,4.71426,64.3288,NaN
2005,NaN,9.32278,NaN,4.73494,64.6506,NaN
2006,NaN,9.23804,NaN,4.69077,64.878,NaN
2007,NaN,8.92236,NaN,4.77182,65.0903,NaN
2008,NaN,8.98886,NaN,4.69439,65.275,NaN
2009,NaN,9.09933,NaN,4.83587,65.4246,NaN
2010,NaN,8.98186,NaN,4.87331,65.5367,NaN
2011,NaN,8.62678,NaN,4.85779,65.5817,NaN
2012,NaN,8.44416,NaN,4.25455,65.6042,NaN
2013,84.5921,8.62116,NaN,4.01279,65.6027,60.2789
2014,NaN,8.89933,NaN,3.72661,65.5797,60.4467
2015,NaN,14.078,NaN,3.46426,65.5384,60.9031
2016,NaN,NaN,NaN,3.36474,65.4547,60.6787
2017,NaN,NaN,NaN,NaN,65.3632,61.0744

#### Gerarndo o gráfico de dispersão e a linha de tendencia do log dos indices em determinado ano:

In [ ]:
scatter(data, 2017, ['Urban population', 'GDP per capita (current US$)'])

#### Gráfico de barras de um indice em determinado ano dos paises com x menores, medianos e maiores valores:

In [ ]:
lmh(data, 2017, 'Economic freedom', 3)

#### Gerarndo os gráficos de tendencia dos paises dados em determinado indice e período de tempo:

In [ ]:
trend(data, ["World", "Brazil", "Mexico"], 'Economic freedom', [1990, 2017])

#### Gráficos de tendencia com valores normalizados de um país e período de tempo para um indice com linha de tendencia ou múltiplos indices:

In [ ]:
trend_years(data, "World", 'Economic freedom', [2000, 2017])
trend_years(data, "World", ['Economic freedom', 'GDP per capita (current US$)'], [2000, 2017])

#### Encontrando os indices com fortes relações em critérios definidos:

In [ ]:
comparison_filter(data, year=2014, years=[2000,2014], country="World", index='GDP per capita (current US$)', r2=0.35, coef=10, num=50)

In [ ]:
data[0]